/* Selettori generali */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-form {
    min-height: 20rem;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
}

.flex-display {
    display: flex;
}

.space-bottom {
    margin-bottom: 1rem;
}

header {
    background-color: aqua;
    padding: 1rem 0;
}

.sidebar {
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 50%;
    justify-content: space-between;
}

.container-header {
    background-color: blue;
    margin: auto;
    min-height: 20rem;
    justify-content: center;
    align-items: center;
}

.content-header {
    background-color: pink;
    width: 40%;
    height: 15rem;
}

main {
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.container-1 {
    background-color: white;
    /* flex-direction: row; */
}

.container-2 {
    background-color: lightgray;
    flex-direction: row-reverse;
}

.container-3 {
    background-color: white;
    /* flex-direction: row; */
}

.container-4 {
    background-color: lightgray;

}

.section-1 {
    background-color: rgb(112, 255, 255);
    width: 30%;
}

.section-2 {
    background-color: purple;
    width: 20%;
}

.section-3 {
    background-color: green;
    width: 50%;
    height: 40rem;
}

footer {
    background-color: rgb(49, 49, 49);
    flex-direction: column;
}

.container-footer1 {
    padding-top: 1rem;
}

.container-footer2 {
    border: 1px solid white;
    min-height: 10rem;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0;
}

.footer-section1 {
    background-color: crimson;
    border: 1px solid black;

    width: calc((50% / 6) + 50% / 6);
    height: 30rem;
}

.footer-section2 {
    background-color: aqua;
    border: 1px solid black;
    width: calc(50% / 6);
    height: 30rem;
}

.footer-section3 {
    background-color: aquamarine;
    width: 50%;
    min-height: 5rem;
    justify-content: space-between;
    align-items: center;
}

.content-footer {
    display: flex;
    background-color: pink;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}